@import "../../../../assets/scss/base";

.header {
    z-index: 99;
    @include position (sticky, $top:0);
    border-bottom: 1px solid $grey-color-200;
    width: calc(100% - 300px);
    padding-left: 15px;
    @media(max-width:1199.98px){
      width: calc(100% - 70px);
      margin-left: $auto;
      background: $white-color;
      border-bottom: 1px solid $black-color;
    }
    .header-nav{
      @include flexbox;
      @include justify-content (flex-end);
      padding-block: 10px;
      background: $white-color;
      width: calc(100% - 300px);
      @media(max-width:1199.98px){
        background-color: $none;
        border: $none;
        width: $auto;
      }
    }
    .animated-arrow {
      display: flex !important;
    align-items: center;
    padding: 1rem .3rem;
          span:before,
      span:after {
        @include position ($absolute);
        cursor: pointer;
        height: .125rem;
        width: 1.25rem;
        background: $base-color;
        display: $block;
        content: "";
      }
    }
  }
