@import "../../../../assets/scss/base";
.wallet-adapter-button{
    height: auto !important;
    line-height: 36px !important;
    background-color: $green-tin-color-700!important;
    margin-right: 10px;
}
// header {
// .logo {
//     opacity: 0;
//   @media (max-width:991px) {
//     display: none !important;
//   }
// }
// }
// .toggle-sidebar {
//     .logo {
//         @media (min-width:1200px) {
//             opacity: 1;
//         }
       
//      }
// }