@import "../../../../assets/scss/base";

.header {
  z-index: 99;
  @include position (sticky, $top: 0);
  border-bottom: 1px solid $grey-color-200;
  width: calc(100% - 300px);
  padding-left: 30px;
  background-color: $white-color;

  @media(max-width:1199.98px) {
    width: calc(100% - 70px);
    margin-left: $auto;
    background: $white-color;
    border-bottom: 1px solid $grey-color-200;
    padding-left: 20px;
  }

  .header-nav {
    @include flexbox;
    @include justify-content (flex-end);
    padding-block: 10px;
    background: $white-color;
    width: calc(100% - 300px);

    @media(max-width:1199.98px) {
      background-color: $none;
      border: $none;
      width: $auto;
    }
  }
}

.animated-arrow {
  width: 20px;
  height: 20px;
  cursor: $pointer;
  position: relative; // Ensure it's relative to control the positioning of span

  span {
    cursor: pointer;
    height: 0.125rem;
    width: 0.938rem;
    background: $base-color;
    position: absolute;
    display: block;
    content: "";
    @include transition-mixin(all, 0.3s, ease-in-out);

    &:after,
    &:before {
      @include position($absolute);
      cursor: pointer;
      height: 0.125rem;
      width: 1.25rem;
      background: $base-color;
      display: block;
      content: "";
      @include transition-mixin(all, 0.3s, ease-in-out);
    }

    &::after {
      bottom: -0.375rem;
    }

    &::before {
      inset-block-start: -0.375rem;
    }
  }
}

// When the `.toggle` class is added to the body, we transform the arrow into a cross
body.toggle-sidebar .animated-arrow span {
  background: transparent; // Hide the middle bar

  &::before {
    transform: rotate(45deg); // Rotate to form a cross
    inset-block-start: 0; // Align the bars vertically
  }

  &::after {
    transform: rotate(-45deg); // Rotate the bottom bar to form a cross
    bottom: 0; // Align the bars vertically
  }
}

.custom-close-button {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 9999px; // Full rounded corners
  background: linear-gradient(180deg, #0B0071 0%, #0B006D 8.4%, #070047 100%);
  padding: 0.25rem; // Tailwind 'p-1'
  color: $white-color; // Tailwind 'text-gray-400'
  cursor: pointer;

  &:hover {
    color: #ffffff; // Tailwind 'hover:text-white'
  }

  &:focus {
    outline: none; // Tailwind 'focus:outline-none'
    ring-color: #ffffff; // Tailwind 'focus:ring-2 focus:ring-white'
    ring-width: 2px;
    ring-offset-width: 2px; // Tailwind 'focus:ring-offset-2'
    ring-offset-color: #1f2937; // Tailwind 'focus:ring-offset-gray-800'
  }

  .icon-background {
    position: absolute;
    top: -0.375rem; // Tailwind '-inset-1.5'
    left: -0.375rem;
    right: -0.375rem;
    bottom: -0.375rem;
  }

  .sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
  }

  .icon {
    height: 2rem; // Tailwind 'h-6'
    width: 2rem; // Tailwind 'w-6'
  }

  @media(max-width:1280px) {
    .icon {
      height: 24px;
      width: 24px;
    }
  }
}

.toggle-sidebar {
  .header {
    width: 100%;
  }
}

.unseen-count {
  position: absolute;
  top: -10px;
  right: -10px;
  background-color: $dark-voilet-color-700;
  border-radius: 50%;
  border: 2px solid $dark-voilet-color-700;
  min-width: 25px;
  min-height: 25px;
  max-width: 30px;
  max-height: 30px;
  color: $white-color;
  font-weight: 600;

  @media (max-width:767px) {
    font-size: 10px;
    top: -5px;
    min-width: 20px;
    min-height: 20px;
  }
}

.header-nav {
  .nav-item {
    &.dropdown {
      .nav-link {
        @media(max-width:1280px) {
          img {
            width: 34px;
            height: 34px;
            min-width: auto;
            min-height: auto;
          }
        }
      }
    }
  }
}