// _colors

$body-color: #eaedf7;
$text-color: #A7D7CF;

$white-color: #ffffff;
$black-color: #000000;

$primary-color: #6259CA;

$black-color-100:#1c1c1c;
$black-dark-color: #0E0E23;
$black-dark-color-800:#262644;
$text-title-color: #141414;
$grey-light: #c4c4c4;
$grey-dark: #505470;
$blue-color: #07013f;
$blue-color-700: #07013F;
$base-color: #505470;

$green-tin-color-600: #12f1de;

$secondary-color: #12223d;

$dark-voilet-color-900: #0e0e23;
$dark-voilet-color-700: #6259ca;
$dark-voilet-color-500: #7167e7;
$dark-voilet-color-200: #6259caa3;

$light-voilet-color-200: #d5d7e2;

$green-light-color-700: #45CB87;
$green-light-color-400: #6EE2AD;

$grey-color-700: #E7E6F0;
$grey-color-600: #CBD8D5;
$grey-color-500: #D9D9D9;
$grey-color-400: #ddd;
$grey-color-300: #cfcfcf;
$grey-color-200: #D6D6D6;
$grey-color-100: #CCCCCC;

$grey-light-color-300: #F3F3F3;
$grey-light-color-200: #F9F9F9;

$sky-color-100: #DCE0FD;

$error-color: #FD3003;
$error-color-700: #FF4040;

$transparent: transparent;