@import '../../../../assets/scss/base';

.stats_tab {
  max-width: 900px;
  overflow-x: $auto;
  white-space: nowrap;
  li {
    margin: 0 7px 5px 0;
    &:last-child {
      margin-right: 0;
    }
    button {
      border: $none;
      background-color: $white-color;
      color: $dark-green-color-500;
      font-weight: $font-medium;
      @include font-size (.875);
      display: $inline-block;
      padding: 10px 15px;
      text-align: $center;
      min-height: 44px;
      min-width: 140px;
      cursor: $pointer;
      &.active,
      &:hover {
        background-color: $dark-green-color-850;
        color: $green-light-color-400;
      }
    }
  }
}

.search_field {
  position: $relative;
}
.cross-icon {
  @include position($absolute, $top: calc(16px/2), $right: 15px);
  z-index: 1;
  cursor: pointer;
  img {
    width: 10px;
  }
}

.stats_filter {
  gap: 10px;
  @media (max-width:575px){
    @include flex-wrap (wrap);
    margin-bottom: 15px;
    width: 100%;
    gap: 5px;
  }
  .calender_field {
    min-width: 280px;
  }
  .form-control {
    background-color: $black-color;
  }
  .calender_field {
    @media (max-width:575px) {
      width: 100%;
    }
  }
  .form-group {
    min-width: 250px;
  }
}
.dark-form-control {
  .form-control {
    border: 1px solid $white-color;
    background-color: $dark-voilet-color-200;
    @include border-radius (7px);
    width: 100%;
    height: 42px;
    padding: 5px 12px;
    color: $white-color;
    position: $relative;
    &::placeholder {
      color: $white-color!important;
    }
    &:-ms-input-placeholder {
      color: $white-color!important;
    }
    &::-ms-input-placeholder {
      color: $white-color!important;
    }
  }
  .calender_field {
    .form-control {
      background-color: $black-color;
    }
  }
}