@import '../../../../assets/scss/base';

$downArrow : url("../../../../assets/icons/downArrow.svg");
$submenuArrow : url("../../../../assets/icons/arrow-ic.svg");

.sub-menu {
  li {
    a {
      position: $relative;
      color: rgba($white-color, 1);

      &::before {
        content: '';
        background-image: $submenuArrow;
        background-repeat: $no-repeat;
        width: 18px;
        height: 15px;
        background-size: 18px;
        @include position($absolute, $left: 90px, $top: 23px);
        @media (max-width:1199.98px){
          left:20px;
        }
      }
    }
  }
}
.nav-item{
  padding-top: 10px;
}
$bgLeft: url(./assets/images/left-bg.png);
.sidebar {
  @include position($fixed, $top:0, $left:0, $bottom:0);
  width: 300px;
  z-index: 111;
  padding: 10px 0;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: $black-dark-color-800 $transparent;
  background: $dark-voilet-color-900 $bgLeft $no-repeat $right $center;
  .sidebar-nav {
    padding: 0;
    margin: 0;
    list-style: $none;
    li {
      .nav-link {
        @include font(18px, 21.78px, $font-regular);
        transition: 0s;
        padding: 21px 15px 19px 90px;
        border-radius: 4px;
        margin-left: 19.1px;
        border-radius: 0;
        border-top-left-radius:20px;
        border-bottom-left-radius:20px;
        position: relative;
        @media (max-width:1199.98px){
          padding-left: 15px;
          font-size: 0;
          margin-left: 5px;
        }
        &::before{
          @include top-curve-before;
        }
        &::after{
          @include bottom-curve-after;
        }
        .curve-top{
          @include curve-top;
        }
        .curve-bottom{
          @include curve-bottom;
        }

        &.active{
          background-color: $white-color;
          color: $primary-color;
          font-weight: 600;
          &::before,
          &::after{
            border-color: $black-dark-color;
          }
          .curve-top,
          .curve-bottom{
            background: $white-color;
          }
          .bi{
            background-color: $primary-color;
          }
        }
      }
      .bi {
        content: "";
        background-repeat: no-repeat;
        width: 25px;
        height: 25px;
        background-size: 25px;
        position: absolute;
        top: 19px;
        left: 40px;
        -webkit-mask-repeat: no-repeat;
        mask-repeat: no-repeat;
        background-color: $white-color;
        @media(max-width: 1199px){
          left:14px;
        }
      }
      .bi-grid {
        mask-image: url(/src/assets/icons/dash.svg);
        -webkit-mask-image: url(/src/assets/icons/dash.svg);
      }

      .bi-user {
        mask-image: url(/src/assets/icons/user.svg);
        -webkit-mask-image: url(/src/assets/icons/user.svg);
      }

      .bi-category {
        mask-image: url(/src/assets/icons/category.svg);
        -webkit-mask-image: url(/src/assets/icons/category.svg);
      }

      .bi-product {
        mask-image: url(/src/assets/icons/product.svg);
        -webkit-mask-image: url(/src/assets/icons/product.svg);
      }
      .bi-invoice {
        mask-image: url(/src/assets/icons/invoice.svg);
        -webkit-mask-image: url(/src/assets/icons/invoice.svg);
      }
      .bi-referral {
        mask-image: url(/src/assets/icons/referral.svg);
        -webkit-mask-image: url(/src/assets/icons/referral.svg);
      }
      .bi-bids {
        mask-image: url(/src/assets/icons/bids.svg);
        -webkit-mask-image: url(/src/assets/icons/bids.svg);
      }
      .bi-transactions {
        mask-image: url(/src/assets/icons/transactions.svg);
        -webkit-mask-image: url(/src/assets/icons/transactions.svg);
      }
    }
    .accordion-item{
      padding-left: 19.1px;
      background-color: unset;
      @media (max-width: 1199.98px){
        padding-left: 0;
      }
      .accordion-header{
        position: relative;
        &::before{
          @include top-curve-before;
        }
        &::after{
          @include bottom-curve-after;
        }
        .curve-top{
          @include curve-top;
          @media (max-width:1199.98px){
          }
        }
        .curve-bottom{
          @include curve-bottom;
          @media (max-width:1199.98px){
          }
        }
      }
      &:has(.active){
        .accordion-header{
          .accordion-button{
            background-color: $white-color;
            color: $primary-color;
            &::after{
              background-color: $black-dark-color;
            }
          }
          &::before,
          &::after{
            border-color: $black-dark-color;
          }
          .curve-top,
          .curve-bottom{
            background: $white-color;
          }
        }
        .bi{
          background-color: $primary-color;
        }
      }
      .accordion-button{
        border-radius: 0;
        border-bottom-right-radius: 0 !important;
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px !important;
        padding: 21px 15px 19px 90px;
        @include font(18px, 21.27px, 400);
        background-color: unset;
        color: $white-color;
        @media (max-width:1199.98px){
          padding-left: 15px;
          font-size: 0;
          margin-left: 5px;
        }
      }
      .dropdown-item{
        border-radius: 0;
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px !important;
        padding: 15px 15px 15px 120px;
      }
    }
  }

  .accordion-header {
    background-color: unset;
    button {
      padding: 14px 15px;
      border: 0 !important;

      i {
        margin-right: 10px;
      }
      &::after {
        mask-image: $downArrow;
        -webkit-mask-image: $downArrow;
        background-size: 5px;
        background-position: $center;
        position: relative;
        z-index: 15;
        margin-right: 15px;
        background-color: $white-color;
        width: 9px;
        mask-repeat: no-repeat;
        mask-position: center;
        @media (max-width:1199px){
          transform: scale(1) rotate(-90deg);
          margin-right: -3px;
        }
      }
    }
  }

  .accordion-collapse {
    &.show, &.collapsing {
      background-color: rgba($white-color, 1) !important;
      @media (max-width: 1199.98px){
        @include position ($absolute, $left:82px);
        margin-top: -45px;
      }

      .accordion-body {
        a {
          color: $white-color !important;
          @media (max-width: 1199.98px){
            padding-left: 50px;
          }
        }
      }
    }
  }

  .accordion-item {
    border: none;
  }

  .accordion-header {
    color: $white-color;
    border: none;
  }
}

@media (max-width: 1199px) {
  .sidebar {
    left: 0;
    max-width: 70px;
    overflow: unset;
  }
  #main{
    margin-left: 70px;
  }
}

@media (max-width: 1199px) {
  .toggle-sidebar .sidebar {
    left: 0;
  }
}

@media (min-width: 1200px) {

  .toggle-sidebar #main,
  .toggle-sidebar #footer {
    margin-left: 0;
  }

  .toggle-sidebar .sidebar {
    left: -300px;
  }
}

.sidebar-nav .nav-link .bi-chevron-down {
  margin-right: 0;
  transition: transform 0.2s ease-in-out;
}

.sidebar-nav .nav-link:not(.collapsed) .bi-chevron-down {
  transform: rotate(180deg);
}

.sidebar-nav .nav-content {
  padding: 0;
  margin: 0;

  .sub-menu {
    background-color: $black-dark-color;
    li {
      .nav-link {
        @include font(18px, 27px, 400);
        font-weight: $font-regular;
        &.active{
          color: $primary-color;
        }
      }
    }
  }
}


.admin-brand-logo{
  color: $white-color;
  @media (max-width:1199.98px){
    @include inline-pad-20;
    color: $text-title-color;
    margin-bottom: 0;
  }
}
/* Alerts */
.alert-heading {
  font-weight: 500;
  font-family: "Inter", sans-serif;
  font-size: 20px;
}

/* Close Button */
.btn-close {
  background-size: 25%;
}

.btn-close:focus {
  outline: 0;
  box-shadow: none;
}

/* Accordion */
.accordion-item {

  border: 1px solid #ebeef4;
}

.accordion-button {
  outline: 0;
  box-shadow: none!important;
}

.accordion-flush .accordion-button {
  padding: 15px 0;
  background: none;
  border: 0;
}
