@import '../../../../assets/scss/base';

$downArrow : url("../../../../assets/icons/downArrow.svg");
$submenuArrow : url("../../../../assets/icons/arrow-ic.svg");

.sub-menu {
  li {
    a {
      position: $relative;
      color: rgba($white-color, 1);

      &::before {
        content: '';
        background-image: $submenuArrow;
        background-repeat: $no-repeat;
        width: 18px;
        height: 15px;
        background-size: 18px;
        @include position($absolute, $left: 16px, $top: 15px);
      }

      &.active {
        background-color: $light-voilet-color-100;
      }
    }
  }
}

.sidebar {
  position: fixed;
  top: 0px;
  left: 0;
  bottom: 0;
  width: 300px;
  z-index: 111;
  transition: all 0.3s;
  padding: 10px 0;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: $dark-green-color-450 transparent;
  box-shadow: 0px 0px 20px rgba(1, 41, 112, 0.1);
  background: $dark-voilet-color-900 url(./assets/images/left-bg.png) no-repeat right center;

  .sidebar-nav {
    padding: 0;
    margin: 0;
    list-style: $none;

    li {
      border-bottom: 1px solid rgba($white-color, .1);

      .nav-link {
        font-weight: $font-regular;
        font-size: 15px;
        transition: 0.3;
        padding: 14px 15px;
        border-radius: 4px;
      }
    }
  }

  .accordion-header {
    button {
      padding: 14px 15px;
      border: 0 !important;

      i {
        margin-right: 10px;
      }
    }
  }

  .accordion-collapse {
    .accordion-body {
      // background-color: $dark-green-color-900;
      background-color: $light-voilet-color-100;
    }

    &.show {
      background-color: rgba($white-color, 1) !important;

      .accordion-body {
        background-color: $light-voilet-color-100;

        a {
          color: $white-color !important;
        }
      }
    }

    @at-root {
      .sub-menu {
        li {
          a {
            position: $relative;
            color: rgba($white-color, 1);

            &::before {
              content: '';
              background-image: $submenuArrow;
              background-repeat: $no-repeat;
              width: 18px;
              height: 15px;
              background-size: 18px;
              @include position($absolute, $left: 16px, $top: 15px);
            }

            &.active {
              background-color: $light-voilet-color-100;
            }
          }
        }
      }
    }
  }

  .accordion-item {
    border: none;
  }

  .accordion-button {
    background-color: $dark-voilet-color-900;
    font-weight: $font-regular;
    font-size: 15px;
    color: $white-color;
    border: none;

    &::after {
      background-image: $downArrow;
      background-size: 14px;
      background-position: $center;
    }
  }
}

@media (max-width: 1199px) {
  .sidebar {
    left: -300px;
  }
}

@media (max-width: 1199px) {
  .toggle-sidebar .sidebar {
    left: 0;
  }
}

@media (min-width: 1200px) {

  .toggle-sidebar #main,
  .toggle-sidebar #footer {
    margin-left: 0;
  }

  .toggle-sidebar .sidebar {
    left: -300px;
  }
}

.sidebar-nav .nav-link i {
  font-size: 1rem;
  margin-right: 10px;
}

.sidebar-nav .nav-link.collapsed {
  color: #012970;
  background: #fff;
}

.sidebar-nav .nav-link.collapsed i {
  color: #899bbd;
}

.sidebar-nav .nav-link:hover {
  color: $dark-voilet-color-900;
  background: $light-voilet-color-100;
}

.sidebar-nav .nav-link:hover i {
  color: $dark-voilet-color-900;
}

.sidebar-nav .nav-link .bi-chevron-down {
  margin-right: 0;
  transition: transform 0.2s ease-in-out;
}

.sidebar-nav .nav-link:not(.collapsed) .bi-chevron-down {
  transform: rotate(180deg);
}

.sidebar-nav .nav-content {
  padding: 0;
  margin: 0;

  .sub-menu {
    background-color: $dark-voilet-color-900;
    li {
      a {
        padding: 10px 0 10px 40px;
        @include font-size (.875);
        font-weight: $font-regular;
        @include transition-mixin (all, .5s, ease-in-out);
      }
    }
  }
}

.sidebar-nav .nav-content a i {
  font-size: 6px;
  margin-right: 8px;
  line-height: 0;
  border-radius: 50%;
}

.sidebar-nav .nav-content a:hover,
.sidebar-nav .nav-content a.active {
  color: #4154f1;
}

.sidebar-nav .nav-content a.active i {
  background-color: #4154f1;
}