@import "../../assets/scss/base";
@import "../../assets/scss/checkbox";

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    /* Adjust minmax to change item size */
    gap: 1rem;
    /* Adjust the gap between grid items */
}

.grid-item {
    border: 1px solid #ddd;
    /* Optional: Add some styling to the grid items */
    background-color: #f9f9f9;
    border-radius: 5px;
}

// CSS Styles
.categories-container {
    background-color: #fff;
    border-radius: 8px;
    padding: 1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    margin: 0 auto;
}

.category-item {
    padding: 0.75rem 1rem;
    border-radius: 4px;
    margin-bottom: 0.5rem;
    display: flex;
    align-items: center;
    background-color: $light-voilet-color-200;
    transition: background-color 0.3s ease;
}

.category-item:nth-child(odd) {
    background-color: $primary-color;
    border: 1px solid $primary-color;

    .category-index {
        font-weight: bold;
        color: $white-color;
        margin-right: 0.5rem;
    }

    .category-name {
        font-size: 1rem;
        color: $white-color;
    }

    /* Replace with your actual color value */
}

/* Style for even items */
.category-item:nth-child(even) {
    background-color: $light-voilet-color-200;
    color: $primary-color;
    border: 1px solid $light-voilet-color-200;
    /* Lighter background */
}

.category-item:hover {
    background-color: $white-color;
    span{
        color: $primary-color !important;
    }
}

.category-index {
    font-weight: bold;
    color: $primary-color;
    margin-right: 0.5rem;
}

.category-name {
    font-size: 1rem;
    color: $black-color;
}

.text-primary {
    color: $primary-color;
}
.cat-count{
    background-color: $grey-dark;
    color: $white-color;
    font-size: 14px;
    padding-block: 2px !important;
}
