@import '../../../assets/scss/base';

.recoveryCodesContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    background-color: $white-color;
    color: $black-color;
    padding: 32px 32px 12px;
    @media(max-width:450px){
      grid-template-columns: 1fr;
    }
  }

  .recoveryCodesList {
    list-style: $none;
    padding: 0;
    margin: 0;
    display: contents;
  }

  .recoveryCodeItem {
    border: 1px solid $grey-color-500;
    @include border-radius (6px);
    font-size: 16px;
    padding: 8px .875rem;
    font-weight: 600;
  }

  .recoveryCodesContainer .SnackbarItem-variantSuccess {
    background-color: rgba(27, 31, 35, 0.85);
    @include font-size (0.875);
    color: $white-color;
  }
  .copyButton .material-icons,
  .copyButton svg {
    font-size: 24px;
  }

  .copyButton {
    float: right;
    margin-left: 10px;
    color: $black-color-100;
    background-color: $transparent !important;
    border: 1px solid $grey-color-500;
    cursor: $pointer;
    span{
      margin-right: 10px;
      font-weight: 600;
    }
    &:hover, &:focus, &:active{
      border: 1px solid $grey-color-700 !important;
      color: $black-color-100 !important;
    }
  }

  .copyText {
    color: $black-color;
    display: inline;
    font-size: large;
    line-height: 32px;
  }

  .qr-code-container {
    @include flexCenter;
    text-align: $center;
  }

  .note{
    padding-inline: 32px;
    font-size: 14px;
  }

  .login_secn{
    &:has(.qrSec){
      .form-content{
        padding-top: 0;
      }
      .cnfTitle{
        padding-bottom:8px;
      }
    }
  }