@import '../../../assets/scss/base';

.form_front { 
    background: url(../../../assets/images/loginBg.png) $no-repeat;
    background-size: $cover;
    padding: 15px;
    @at-root {
        .form_card {
            max-width: 470px;
            overflow: hidden;
            width: 860px;
            @include border-radius (30px);
            border: 1px solid $dark-voilet-color-900;
            background-color: $white-color;
            box-shadow: 0px 15px 10px rgba($black-color, 0.5);
            font-family: $Popin-font;
            @media (max-width:767px){
                max-width: 100%;
            }
            .h2 {
                @include font-size(3);
            }
        }
    }
    @at-root .form_pad {
        padding:30px 50px;
    }
    @at-root .logo_login {
        max-width: 100px;
        img {
            width: 70px;
            margin-bottom: 20px;
        }
    }
}
.title_group{    
    background: $blue-color; 
    padding-block: 10px;
    font-size: 22px;
    &:has(.qrSec){
        padding-bottom: 0 !important;
    }
}
.form-content{
    padding: 20px 32px 32px;
    .form-disc{
        width: 100%;
        text-align: center;
        font-size: 16px;
        text-transform: $none;
        font-weight: 400;
        line-height: 22px;
        letter-spacing: -0.03em;
        margin: auto;
        margin-bottom: 16px;
        color: $black-color-100;
        max-width: 360px;
    }
    .form-control{
        padding: 12px 18px;
    }
    .btn_groups{
        margin-bottom: 0 !important;
        flex-direction: column;
        button{
            width: 100%;
            font-size: 16px;
            line-height: 1.1;
            padding-block: 12px;
            background-color: $blue-color;
            &[disabled]{
                opacity: 0.5;
            }
        }
    }
    .otpSec{
        .btn_groups{
            gap:16px !important;
            margin-top: 0 !important;
            button{
                &:first-child{
                    background-color: transparent;
                    color: $black-color-100;
                    font-weight: 600;
                    letter-spacing: -0.03em;
                }
            }
        }
    }
}
.toggle-space-between{  
    display: flex;
    justify-content: space-between;
}

