@import '../../../assets/scss/base';

.form_front { 
    background: url(../../../assets/images/loginBg.png) $no-repeat;
    background-size: $cover;
    padding: 15px;
    @at-root {
        .form_card {
            max-width: 700px;
            overflow: hidden;
            width: 860px;
            @include border-radius (15px);
            border: 1px solid $dark-voilet-color-900;
            background: rgba($dark-voilet-color-900, .8); 
            box-shadow: 0px 15px 10px rgba($black-color, 0.5); 
            @media (max-width:767px){
                max-width: 100%;
                padding:30px;
            }
            .h2 {
                @include font-size(3);
            }
        }
    }
    @at-root .form_pad {
        padding:30px 50px;
    }
    @at-root .logo_login {
        background-color: $secondary-color;
        img {
            width: 185px;
        }
    }
}

.toggle-space-between{  
    display: flex;
    justify-content: space-between;
}

