@import "../../assets/scss/base";

.dashboad-cards {
    .card {
        @include border-radius (24px);
        &-body {
            @include border-radius (24px);
            padding: 24px 24px 24px 100px;
            position: $relative;
        }
        .text-small {
            @include font-size (1);
            color: #333;
        }
        .h4 {
            font-weight: $font-semibold;
            @include font-size (2rem);
            margin: 5px 0 14px;
            color: #1c1c1c;
        }
        .d-Icon {
            @include position($absolute, $top:25px, $left:20px);
            background: linear-gradient(180deg, #0B0071 0%, #0B006D 8.4%, #070047 100%);
            @include border-radius (8px);
            width: 64px; height: 64px;
            @include flexCenter;
            img {
                width: 24px;
                height: 24px;
                object-fit: $contain;
            }
        }
        .bg-success {
            background-color: rgba(#34C759, .10)!important;
            @include border-radius (30px);
            color: #34C759;
        }
        .bg-danger {
            background-color: rgba(#FF3B30, .10)!important;
            @include border-radius (30px);
            color: #FF3B30;
        }
        .badge {
            padding: 7px 10px;
        }
    }
}

.redirection {
    @include position($absolute, $right: 24px, $bottom: 20px);
    @include opacity (.25);
    pointer-events: $none;
}

.userGreeting {
    @include flexbox;
    @include align-items ($center);
    background-color: $grey-light-color-300;
    @include border-radius (8);
    padding: 16px;
    margin-bottom: 32px;
    .avatar {
        margin-right: 16px;
        background-color: #ff6347;
        color: $white-color;
        width: 50px;
        height: 50px;
        @include flexCenter;
        @include border-radius (50%);
        font-size: 24px;
    }
}

.grid {
    @include flexbox;
    flex-wrap: wrap;
    gap: 16px;
    .card {
        flex: 1;
        min-width: 300px;
        h6 {
            color: $black-color;
        }
    }
}

.transactions {
    margin-top: 32px;
    padding: 16px;
    background-color: $white-color;
    @include border-radius (8px);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.transactionItem {
    @include flexbox;
    @include align-items ($center);
    justify-content: space-between;
    padding: 16px;
    margin-bottom: 16px;
    background-color: #f5f5f5;
    border-radius: 8px;
    &:last-child {
        margin-bottom: 0;
    }
    .avatar {
        margin-right: 16px;
        background-color: #ff6347;
        color: #fff;
        width: 40px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        font-size: 20px;
    }

    .info {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        .name {
            font-weight: bold;
        }

        .description {
            color: #666;
        }
    }

    .amount {
        display: flex;
        align-items: center;

        .change {
            margin-left: 8px;
            font-size: 18px;
        }

        .date {
            margin-left: 16px;
            color: #666;
        }
    }
}

.projectLaunch {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;

    .days {
        font-size: 48px;
        font-weight: $font-bold;
    }

    .date {
        color: #666;
    }
}
/* Card */
.card {
    border: $none;
    @include border-radius (5px);
    box-shadow: 0px 0 30px rgba(1, 41, 112, 0.1);
    @include border-radius (10px);
    &-body {
      background-color: rgba($white-color, 1);
      @include border-radius (5px);
      padding: 20px;
    }
  }

  .card-img-overlay {
    background-color: rgba(255, 255, 255, 0.6);
  }