// CustomTabs.scss
@import '../../../assets/scss/base';
.nav-tabs .nav-item {
    margin-right: 20px;
    margin: 10px;
    border: none;
    background-color: $white-color;
}

.nav-item-active {
    margin-right: 20px;
    margin: 10px;
    border: none;
    background-color: $dark-voilet-color-700;
    color: $white-color;
}

.nav-tabs .nav-link {
    transition: background-color 0.3s ease;
    text-transform: capitalize;
}