@import '../../assets/scss/base';
.auction-details-edit {
  top: 30px;
  right: 20px;
  position: absolute;
}

.social-Icon {
  background: linear-gradient(180deg, #0b0071 0%, #0b006d 8.4%, #070047 100%);
  @include border-radius(8px);
  width: 40px;
  height: 40px;
  @include flexCenter;

  img {
    width: 24px;
    height: 24px;
    object-fit: $contain;
  }
}
