@import "./assets/scss/_base.scss";
@import "./assets/scss/theme.scss";


$downArrow : url("./assets/icons/downArrow.svg");

/*--------------------------------------------------------------
# General
--------------------------------------------------- -----------*/
:root {
  scroll-behavior: smooth;
}

#root {
  width: 100%;
}

.bg-img {
  @include position($absolute, $top: 0, $left: 0, $right: 0);
  background: url(assets/images/header_bg.jpg) $no-repeat;
  background-position: $top $center;
  width: 100%;
  height: 100%;
}

/*--------------------------------------------------------------
# Main
--------------------------------------------------------------*/
#main {
  padding: 30px 30px 20px;
  transition: all 0.3s;
  position: $relative;
  z-index: 11;

  @media (min-width: 1200px) {
    margin-left: 300px;
  }

  @media (max-width: 1199px) {
    padding-inline: 20px;
  }
}

/*--------------------------------------------------------------
# Override some default Bootstrap stylings
--------------------------------------------------------------*/
/* Dropdown menus */
.dropdown-menu {
  border-radius: 4px;
  padding: 10px 0;
  animation-name: dropdown-animate;
  animation-duration: 0.2s;
  animation-fill-mode: both;
  border: 0;
  box-shadow: 0 5px 30px 0 rgba(82, 63, 105, 0.2);
}

.dropdown-menu .dropdown-header,
.dropdown-menu .dropdown-footer {
  text-align: center;
  font-size: 15px;
  padding: 10px 25px;
}

.dropdown-menu .dropdown-footer a {
  color: #444444;
  text-decoration: underline;
}

.dropdown-menu .dropdown-footer a:hover {
  text-decoration: none;
}

.dropdown-menu .dropdown-divider {
  color: #a5c5fe;
  margin: 0;
}

.dropdown-menu .dropdown-item {
  font-size: 14px;
  padding: 10px 15px;
  transition: 0.3s;
}

.dropdown-menu .dropdown-item i {
  margin-right: 10px;
  font-size: 18px;
  line-height: 0;
}

.dropdown-menu .dropdown-item:hover {
  background-color: #f6f9ff;
}

@media (min-width: 768px) {
  .dropdown-menu-arrow::before {
    content: "";
    width: 13px;
    height: 13px;
    background: #fff;
    position: absolute;
    top: -7px;
    right: 20px;
    transform: rotate(45deg);
    border-top: 1px solid #eaedf1;
    border-left: 1px solid #eaedf1;
  }
}

@keyframes dropdown-animate {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }

  0% {
    opacity: 0;
  }
}

.react-select-prefix__single-value {
  color: $black-color !important;
}

.pointer {
  cursor: pointer;
}