.arrow-down {
    margin-left: 10px; // Space between text and arrow
    // transform: rotate(-90deg); // Adjust for initial arrow direction
    transition: transform 0.3s ease-in-out;
}

.arrow-right {
    margin-left: 10px; // Space between text and arrow
    transition: transform 0.3s ease-in-out;
}